<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Car Serving a Auto Mobile Category Category Bootstrap Responsive Template | Contact :: W3layouts</title>
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="stylesheets/style-starter.css">
  <!-- Template CSS -->
</head>

<body>
  <!--header-->

  <!--/header-->
  <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container py-lg-5 py-3">
        <h2 class="title">Register Your auto</h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="#url">Home</a></li>
          <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Register</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
  <section class="w3l-contact-11">
    <div class="form-41-mian py-5">
      <div class="container py-lg-4">
        <div class="row align-form-map">
          <div class="col-lg-6 form-inner-cont">
            <div class="title-content text-left">
              <h3 class="hny-title mb-lg-5 mb-4">Auto Bro Details</h3>
            </div><P>
            <form action="/register" method="post" enctype="multipart/form-data" class="signin-form">
              <div class="form-input">
                <input type="text" name="user" value="{{user._id}}" hidden="" id="">
                <input type="text" name="Name" required="" value="{{user.Name}}" id="w3lName" placeholder="Name" />
              </div>
              <div class="row con-two">
                <div class="col-lg-6 form-input">
                  <input type="text" name="Phone" id="w3lSender" value="{{user.Phone}}" placeholder="Phone" required="" />
                </div>
                <div class="col-lg-6 form-input">
                  <input type="text" name="Address" placeholder="Address" value="{{user.Address}}" required="" class="contact-input" />
                </div>
                <div class="col-lg-6 form-input">
                  <input type="text" name="Stand" id="w3lSender" placeholder="Stand" required="" />
                </div>
                <div class="col-lg-6 form-input">
                  <input type="text" name="Type" id="w3lSender" placeholder=" Engine Type" required="" />
                </div>
                <div class="col-lg-6 form-input">
                  <label for="">Auto Image</label>
                  <img src="" class="mt-1" id="VimgView" style="width: 100px; height: auto;" alt="">

                  <input type="file" name="VImage" id="w3lSender" class="mt-2" placeholder="Image" required=""
                    onchange="vieImage(event)" />
                </div>
                <div class="col-lg-6 form-input">
                  <label for="">Driving License</label>
                  <img src="" class="mt-1" id="DimgView" style="width: 100px; height: auto;" alt="">

                  <input type="file" name="DImage" id="w3lSender" class="mt-2" placeholder="Image" required=""
                    onchange="dieImage(event)" />
                </div>
                 <div class="col-lg-6 form-input">
                  <label for="">Driver Image</label>
                  <img src="" class="mt-1" id="DRimgView" style="width: 100px; height: auto;" alt="">

                  <input type="file" onchange="drieimage(event)" name="RImage" id="drieImage" placeholder="Image"
                    required="" />
                </div>
              </div>
              <div class="submit-button text-lg-right">
               
                <button type="submit" class="btn btn-style">Submit</button>
              </div>
            </form>
            {{!-- <form>
                  <script src="https://checkout.razorpay.com/v1/payment-button.js"
                    data-payment_button_id="pl_MYfo1MDxC54P8n" async> </script>
                </form> --}}
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
     function drieimage(event) {
      document.getElementById('DRimgView').src = URL.createObjectURL(event.target.files[0])

    }
    function vieImage(event) {
      document.getElementById('VimgView').src = URL.createObjectURL(event.target.files[0])

    }
    function dieImage(event) {
      document.getElementById('DimgView').src = URL.createObjectURL(event.target.files[0])

    }
  </script>
  <!-- //contact-form -->
  <!-- footer-66 -->
<footer class="w3l-footer-66">
    <section class="footer-inner-main">
      <div class="footer-hny-grids py-5">
        <div class="container py-lg-4">
          <div class="text-txt">
            <div class="right-side">
              <div class="row sub-columns">
                <div class="col-lg-4 col-md-6 sub-one-left pr-lg-4">
                  <h2><a class="navbar-brand" href="index.html">
                    <span>T</span>uk<span>T</span>uk
                  </a></h2>
                  <!-- if logo is image enable this   
										<a class="navbar-brand" href="#index.html">
											<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
										</a> -->
                  <p class="pr-lg-4">Tuk Tuk is largest operator of Local Auto rickshaw rentals in Kerala.
We offer good quality Rikshaws & drivers managed by 24×7 with online booking. </p>
                  <div class="columns-2">
                    <ul class="social">
                      <li><a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                      </li>
                      <li><a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                      </li>
                      <li><a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                      </li>
                      <li><a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                      </li>
                      <li><a href="#github"><span class="fa fa-github" aria-hidden="true"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 sub-one-left">
                  <h6>Our Services</h6>
    <div class="mid-footer-gd sub-two-right">

                    <ul>
                      <li><a href="/contact"><span class="fa fa-angle-double-right mr-2"></span> About</a>
                      </li>
                
                      <li><a href="/contact"><span class="fa fa-angle-double-right mr-2"></span>Help
                          </a>
                      </li>
                      <li><a href="/contact"><span class="fa fa-angle-double-right mr-2"></span>Career</a></li>
                      <li><a href="/contact"><span class="fa fa-angle-double-right mr-2"></span>Contact US</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 sub-one-left">
                  <h6>Contact Info</h6>
                  <div class="sub-contact-info">
                    <p>Address: Alappuzha, Kerala, India.</p>
                    <p class="my-3">Phone: <strong><a href="tel:+916238141438">+91 6238141438</a></strong></p>
                    <p>E-mail:<strong> <a href="mailto:autobros@gmail.com.com">tuktukmallu@gmail.com</a></strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="below-section">
        <div class="container">
          <div class="copyright-footer">
            <div class="columns text-lg-left">
              <p>© 2023 TukTuk. All rights reserved | Powered by <a href="#">Adithyan</a></p>
            </div>
            <ul class="columns text-lg-right">
              <li><a href="#">Privacy Policy</a>
              </li>
              <li>|</li>
              <li><a href="#">Terms Of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- copyright -->
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-long-arrow-up" aria-hidden="true"></span>
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- /move top -->

    </section>
  </footer>
  <!--//footer-66 -->
  <!-- Template JavaScript -->
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/theme-change.js"></script>
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="/javascripts/bootstrap.min.js"></script>

</body>

</html>